@* Generator : Template TypeVisibility : Internal *@
@functions  {
    public dynamic Model { get; set; }
}

<html>
                               <head><title>Welcome to Aqrubik</title></head>
                               <body>
This is generated with Razor. Cihui.
 <p> Your submission is @Model </p>

 <a href="FDFDF">dsgfgdgds</a>
 </body>
                              </html>
